@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap');
html > * {
    font-family: 'Heebo', sans-serif;
}

header {
    padding: 1rem 0.5rem;
    font-weight: 900;
    color: #575880;
    font-size: 22px;
}

.info-dialog {
    display: table;
}

.info-row {
    display: table-row;
    font-size: small;
   
}

.label {
    text-align: end;
    display: table-cell;
    padding-right: 0.25rem;
    color: gray;
}
.container {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    width: 100%;
    flex-wrap: wrap;
}

.empty-folder {
    padding: 0.5rem 1rem;
    color: gray;
    font-weight: bold;
}

.dropdown {
    margin-top: 1.75rem;
    z-index: 10;
    position: absolute;
    padding: 0.5rem 0.5rem;
    background-color: white;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.212);
}

.option-item:first-child {
    font-weight: bold;
    color: red;
}

.option-item {
    font-size: smaller;
    font-family: 'Heebo', sans-serif;
    color: #393939;
    padding: 0.25rem 1rem;
    cursor: pointer;
    border-radius: 4px;
}

.option-item:hover {
    background-color: rgba(0, 4, 255, 0.075);
}

.navigation {
    display: flex;
    gap: 1rem;
    user-select: none;
    color: #393939;
    padding: 0.5rem 0.5rem;
}

.navigation > * img {
    cursor: pointer;
}

.breadcrumbz {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 12px;
    padding: 1rem 0.5rem;
    color: #393939;
}

.breadcrumbz >div:last-child {
    font-weight: bold;
}

.breadcrumbz > div::after {
    content: '/';
    padding: 8px;
}
.path {
    cursor: pointer;
    white-space: nowrap;
}

.item-text {
    width: 5rem;
    font-size: 11px;
    word-wrap: break-word;
    text-align: center;
    color: rgb(68, 68, 68);
}

.item {
    border: 2px solid transparent;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 0.15rem;
}
.item:focus {
    border: 2px dotted rgba(64, 95, 131, 0.336);
}
.item:hover {
    background-color: rgba(0, 4, 255, 0.075);
}

.download-button {
    cursor: pointer;
    filter:opacity(0);
    transition: all 1s ease-in-out; 
    position: absolute;
    margin-top: 0.75rem;
}

.download-button:hover {
    filter: opacity(1);
    filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.5));
}



@keyframes loader {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.empty {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loader {
    animation: loader 2s linear infinite;
}


.upload-button {
    
    all: unset;
    color: white;
    background-color: #687492;
    padding: 0.30rem 1rem 0.3rem 2rem;
    font-size: small;
    font-weight: bold;
    font-family: 'Heebo';
    cursor: pointer;
}

.button-base {
    all: unset;
    flex-grow: 1;
    text-align: center;
    color: white;
    background-color: #687492;
    padding: 0.30rem 1rem;
    font-size: small;
    font-weight: bold;
    font-family: 'Heebo';
    cursor: pointer;
}

.upload-button > * {
    pointer-events: none;
}

.menu {
    margin-top: 2px;
    margin-left: 1.6rem;
    position: absolute;
}

.menu-button {
    position: absolute;
    z-index: 6;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    width: 16px;
    height: 16px;
    display: flex;
    padding: 0.25rem;
    justify-content: center;
    filter: opacity(0);
    cursor: pointer;
}

.menu-button:hover {
    filter: opacity(1);
    filter: drop-shadow(0 0 0.15rem rgba(0, 0, 0, 0.329));
}
